input {
    padding: 3px;
    font-size: 16px;
    border-radius: 2px;
}

input[type="checkbox"], input[type="radio"] {
    height: 16px;
    width: 16px;
}

label {
    width: 150px;
    display: inline-block;
    font-size: 16px;
}

textarea {
    padding: 4px;
    font-size: 14px;
    display: block;
}

select {
    padding: 4px;
    font-size: 14px;
}

p {
    font-size: 16px;
}